

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;

        .desk {
            display: none;
        }

        .mobile {
            display: flex;
            flex-direction: column;
            height: 6vh;
    
            .head-titulo-mobile {
                display: flex;
                justify-content: space-around;
                align-items: center;
    
                .tituloPrincipal-mobile {
                    color: white;
                }
    
                .open-menu {
                    background-color: transparent;
                    border: 0;
                }
    
                .fa-bars {
                    color: white;
                    padding: 1rem;
                    font-size: 30px;
                }
            }
    
            .navbar-mobile {
                width: 100%;
                position: relative;
            }
    
            .menu-mobile {
                width: 100%;
                height: 20vh;
                padding: 1rem;
                background-color: black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
    
                .menu-item-mobile a {
                    color: white;
                    
                }
    
                .close-menu {
                    background-color: transparent;
                    color: white;
                    border: 3px solid white;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }
    }

    main {
        height: 80vh;

        .productos {
            display: flex;
            flex-direction: column;
        }
    } 

    footer {
        height: 9vh;
    }

    .precio-producto-carrito {
        display: none;
    }
};

@media screen and (max-width: 480px) {
    main {
        height: 75vh;
    }
    .producto-carrito {
        padding: 5px;
    }

    .modal-dialog {
        margin: 2rem;
        border: 1px solid white;
        border-radius: 5px;
    }

    .fin-compra {
        padding: 1rem;
    }

    footer {
        height: 13vh;

        .title-footer {
            font-size: 20px;
        }
    }

}