@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

body {
  background-color: black;
}

.disabled {
  display: none;
}

header {
  width: 100%;
  height: 12vh;
  color: blue;
}
header .head-titulo {
  display: flex;
  justify-content: space-between;
}
header .head-titulo .img-logo {
  max-width: 5%;
  border-radius: 10px;
  margin-inline: 5px;
}
header .navbar {
  width: 100%;
  display: flex;
}
header .navbar .menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .navbar .menu .menu-item a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
header .navbar .menu .menu-item.active a {
  background-color: white;
  padding: 0rem 2rem 0rem 2rem;
  border-radius: 1rem;
  color: black;
}

.mobile {
  display: none;
}

main {
  height: 74vh;
  overflow-y: scroll;
  background-color: white;
  padding-bottom: 20px;
  margin: 1rem;
  border-radius: 1rem;
}
main .productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 2rem;
}

.producto {
  border: 1px solid blue;
  border-radius: 1rem;
  overflow: hidden;
}
.producto .img-producto {
  max-width: 100%;
}
.producto .detalle-producto {
  background-color: black;
  border-radius: 1rem;
  margin-top: -1rem;
  padding: 2rem;
}
.producto .detalle-producto .titulo-producto {
  color: blue;
}
.producto .detalle-producto .producto-precio {
  color: white;
}
.producto .detalle-producto .agregar-carrito {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.producto .detalle-producto .agregar-carrito:hover {
  background-color: black;
  color: white;
}

.productos-carrito {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.carrito-vacio {
  color: red;
  font-size: 40px;
  padding-left: 2rem;
}

.su-compra {
  color: green;
  font-size: 40px;
  padding-left: 2rem;
}

.producto-carrito {
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 1rem;
}
.producto-carrito .img-producto-carrito {
  max-width: 10%;
  border-radius: 1rem;
}
.producto-carrito small {
  color: blue;
  text-decoration: underline;
}
.producto-carrito .producto-info-nombre,
.producto-carrito .producto-info-cantidad,
.producto-carrito .producto-info-precio,
.producto-carrito .producto-info-total {
  color: white;
  font-size: 20px;
}
.producto-carrito .btn-eliminar {
  background-color: transparent;
  border: 0;
}
.producto-carrito .btn-eliminar .fa-trash-can {
  font-size: 20px;
  color: red;
}
.producto-carrito .btn-eliminar .fa-trash-can:hover {
  color: rgba(255, 0, 0, 0.578);
}

.accion {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.accion .suma-total {
  color: black;
  font-size: 40px;
  padding: 1rem;
  border-radius: 10px;
}
.accion .btn-secondary {
  background-color: green !important;
  font-size: 22px;
  padding: 1rem;
  border-radius: 10px;
}

.modal-content {
  background-color: black;
}
.modal-content .close {
  color: white;
}
.modal-content .close:hover {
  color: white;
}
.modal-content .modal-title {
  color: white;
  font-size: 20px;
}
.modal-content .form-nombre {
  color: white;
  font-size: 20px;
}
.modal-content .form-card {
  color: white;
  font-size: 20px;
}
.modal-content .form-control {
  color: black;
}
.modal-content .btn-primary {
  background-color: green !important;
  border: 0;
}
.modal-content .fin-compra {
  color: green;
  font-size: 40px;
  padding-left: 1rem;
}

footer {
  width: 100%;
  height: 6vh;
  background-color: black;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .title-footer {
  margin-top: 10px;
}
footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes .fa-brands {
  margin-inline: 5px;
}
footer .redes .fa-instagram {
  color: orangered;
  font-size: 30px;
}
footer .redes .fa-facebook {
  color: blue;
  font-size: 30px;
}
footer .redes .fa-whatsapp {
  color: green;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body .desk {
    display: none;
  }
  body .mobile {
    display: flex;
    flex-direction: column;
    height: 6vh;
  }
  body .mobile .head-titulo-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body .mobile .head-titulo-mobile .tituloPrincipal-mobile {
    color: white;
  }
  body .mobile .head-titulo-mobile .open-menu {
    background-color: transparent;
    border: 0;
  }
  body .mobile .head-titulo-mobile .fa-bars {
    color: white;
    padding: 1rem;
    font-size: 30px;
  }
  body .mobile .navbar-mobile {
    width: 100%;
    position: relative;
  }
  body .mobile .menu-mobile {
    width: 100%;
    height: 20vh;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }
  body .mobile .menu-mobile .menu-item-mobile a {
    color: white;
  }
  body .mobile .menu-mobile .close-menu {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
  }
  main {
    height: 80vh;
  }
  main .productos {
    display: flex;
    flex-direction: column;
  }
  footer {
    height: 9vh;
  }
  .precio-producto-carrito {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .producto-carrito {
    padding: 5px;
  }
  .modal-dialog {
    margin: 2rem;
    border: 1px solid white;
    border-radius: 5px;
  }
  .fin-compra {
    padding: 1rem;
  }
  footer .title-footer {
    font-size: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */